@if (User.Identity.IsAuthenticated)
{
  <div class="container">
    <a class="footer-link">@Html.ActionLink("Home", "Index", "Home")</a>
    <a class="footer-link">@Html.ActionLink("Add a treat", "Create", "Treats")</a>
    <a class="footer-link">@Html.ActionLink("Add a flavor", "Create", "Flavors")</a>

  @using (Html.BeginForm("LogOff", "Accounts"))
    {
      <input type="submit" class="btn btn-default" value="Log out" />
    }
  </div>
}
else if (User.Identity.IsAuthenticated == false)
{
  <div class="container">
    <a class="footer-link">@Html.ActionLink("Home", "Index", "Home")</a>
    <a class="footer-link">@Html.ActionLink("Register for an account", "Register", "Accounts")</a>
    <a class="footer-link">@Html.ActionLink("Log in", "Login", "Accounts")</a>
  </div>
}