@{ Layout = "_Layout"; }

@model PierresTreats.Models.Treat

<h3>About @Html.DisplayFor(treat => treat.Name)</h3>

<p>@Html.DisplayNameFor(treat => treat.Name): @Html.DisplayFor(treat => treat.Name)</p>

<p>@Html.ActionLink("Connect this treat to a flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit this treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete this treat", "Delete", new { id = Model.TreatId })</p>